* {
  margin: 0px;
  padding: 0px;
  color: white;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  border-width: 0.02em;
  border-color: white;
  border-style: solid;
  border-radius: 8px;
  padding: 3em;
}

.header {
  margin: 1em;
  border-style: none none solid none;
  border-width: 0 0 0.02em 0;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 2em;
}

.searchContainer {
  width: 20em;
  display: flex;
  justify-content: space-between;
}

.searchContainer input {
  flex-grow: 1;
  border-color: white;
  border-width: 0 0 0.02em 0;
  background-color: black;
  padding: 0.4em;
  margin: 0 4em 0 0;
}

.searchContainer button {
  background-color: black;
  padding: 0.8em;
  border-color: white;
  border-width: 0.02em;
  border-radius: 6px;
  cursor: pointer;
}

.searchContainer button:hover {
  background-color: darkblue;
}

.taskView {
  flex-grow: 1;
}

